In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.10/site-packages (0.5.0)
Requirement already satisfied: ipython in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (8.11.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (2.0.7)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.10/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.10/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
WARNING: There was an error checking the latest version of pip.

In [2]:
%load_ext sql

In [3]:
!env | grep POST

POSTGRESQL_USER=reader
POSTGRESQL_PASSWORD=Miba2021

In order to connect to PostgreSQL database a connection should be created with parameters like:
- login (or user) `USER`,
- password `PASSWORD`,
- database's host `POSTGRESQL_HOST`,
- database name `DBASE_NAME`.

PostgreSQL has no external IP address, so it is available only from JupyterHub notebooks:

In [4]:
import os
USER = os.environ['POSTGRESQL_USER']
PASSWORD = os.environ['POSTGRESQL_PASSWORD']
POSTGRESQL_HOST = '10.129.0.25'
DBASE_NAME = 'demo'

In [5]:
CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    USER,
    PASSWORD,
    POSTGRESQL_HOST,
    DBASE_NAME
)

In [6]:
%%sql $CONNECT_DATA
    SELECT * FROM pg_database

4 rows affected.

[(13760, 'postgres', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', False, True, -1, 13759, '726', '1', 1663, None),
 (1, 'template1', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', True, True, -1, 13759, '726', '1', 1663, '{=c/postgres,postgres=CTc/postgres}'),
 (13759, 'template0', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', True, False, -1, 13759, '726', '1', 1663, '{=c/postgres,postgres=CTc/postgres}'),
 (16384, 'demo', 10, 6, 'en_US.UTF-8', 'en_US.UTF-8', False, True, -1, 13759, '726', '1', 1663, '{=Tc/postgres,postgres=CTc/postgres,reader=c/postgres}')]

In [7]:
%sql SELECT tablename AS table FROM pg_tables WHERE tablename !~ '^(pg_|sql_)'

 * postgresql://reader:***@10.129.0.25/demo
10 rows affected.

[('boarding_passes',),
 ('aircrafts_data',),
 ('flights',),
 ('airports_data',),
 ('seats',),
 ('tickets',),
 ('ticket_flights',),
 ('bookings',),
 ('employees',),
 ('departments',)]

In [8]:
result = %sql SELECT * FROM seats LIMIT 5

 * postgresql://reader:***@10.129.0.25/demo
5 rows affected.

In [9]:
display(result)

[('319', '2A', 'Business'),
 ('319', '2C', 'Business'),
 ('319', '2D', 'Business'),
 ('319', '2F', 'Business'),
 ('319', '3A', 'Business')]

In [10]:
print(result.keys)

RMKeyView(['aircraft_code', 'seat_no', 'fare_conditions'])

In [11]:
result[0][0]

'319'

In [12]:
import psycopg2

with psycopg2.connect(
    dbname='jovyan'
) as conn:
    with conn.cursor() as cur:
        cur.execute('SELECT datname FROM pg_database')
        records = cur.fetchall()
        
print(records)

[('postgres',), ('jovyan',), ('template1',), ('template0',)]

...or with `%%sql` magic:

In [13]:
%%sql postgresql:///jovyan
    SELECT * FROM pg_database

4 rows affected.

[(13761, 'postgres', 10, 6, 'C.UTF-8', 'C.UTF-8', False, True, -1, 13760, '726', '1', 1663, None),
 (16385, 'jovyan', 10, 6, 'C.UTF-8', 'C.UTF-8', False, True, -1, 13760, '726', '1', 1663, None),
 (1, 'template1', 10, 6, 'C.UTF-8', 'C.UTF-8', True, True, -1, 13760, '726', '1', 1663, '{=c/postgres,postgres=CTc/postgres}'),
 (13760, 'template0', 10, 6, 'C.UTF-8', 'C.UTF-8', True, False, -1, 13760, '726', '1', 1663, '{=c/postgres,postgres=CTc/postgres}')]

This database belong to user of Jupyter and you can do anything you want with it.

In [14]:
%%sql postgresql:///jovyan
CREATE TABLE writers (
    first_name text NOT NULL, 
    last_name text NOT NULL, 
    year_of_death text NOT NULL
);
INSERT INTO writers VALUES ('William', 'Shakespeare', '1616');
INSERT INTO writers VALUES ('Bertold', 'Brecht', '1956')

Done.
1 rows affected.
1 rows affected.

[]

Check if table `writers` is created:

In [15]:
%sql SELECT tablename AS table FROM pg_tables WHERE tablename !~ '^(pg_|sql_)'

 * postgresql:///jovyan
   postgresql://reader:***@10.129.0.25/demo
1 rows affected.

[('writers',)]

In [16]:
%sql SELECT * FROM writers

 * postgresql:///jovyan
   postgresql://reader:***@10.129.0.25/demo
2 rows affected.

[('William', 'Shakespeare', '1616'), ('Bertold', 'Brecht', '1956')]

In [17]:
!wget https://edu.postgrespro.com/demo-small-en.zip && unzip -o demo-small-en.zip
!psql -a -f  demo-small-en-20170815.sql
!rm demo-small-en.zip demo-small-en-20170815.sql

--2024-11-11 14:13:10--  https://edu.postgrespro.com/demo-small-en.zip
Resolving edu.postgrespro.com (edu.postgrespro.com)... 213.171.56.196
Connecting to edu.postgrespro.com (edu.postgrespro.com)|213.171.56.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22187739 (21M) [application/zip]
Saving to: ‘demo-small-en.zip’

demo-small-en.zip   100%[===================>]  21.16M  92.7MB/s    in 0.2s

2024-11-11 14:13:10 (92.7 MB/s) - ‘demo-small-en.zip’ saved [22187739/22187739]

Archive:  demo-small-en.zip
  inflating: demo-small-en-20170815.sql
--
-- PostgreSQL database dump
--
-- Dumped from database version 9.6.3
-- Dumped by pg_dump version 9.6.3
SET statement_timeout = 0;
SET
SET lock_timeout = 0;
SET
SET idle_in_transaction_session_timeout = 0;
SET
SET client_encoding = 'UTF8';
SET
SET standard_conforming_strings = on;
SET
SET check_function_bodies = false;
SET
SET client_min_messages = warning;
SET
SET row_security = off;
SET
DROP DATABASE demo;
psql:demo-small-en-20170815.sql:17: ERROR:  database "demo" does not exist
--
-- Name: demo; Type: DATABASE; Schema: -; Owner: -
--
CREATE DATABASE demo;
CREATE DATABASE
\connect demo
You are now connected to database "demo" as user "jovyan".
SET statement_timeout = 0;
SET
SET lock_timeout = 0;
SET
SET idle_in_transaction_session_timeout = 0;
SET
SET client_encoding = 'UTF8';
SET
SET standard_conforming_strings = on;
SET
SET check_function_bodies = false;
SET
SET client_min_messages = warning;
SET
SET row_security = off;
SET
--
-- Name: bookings; Type: SCHEMA; Schema: -; Owner: -
--
CREATE SCHEMA bookings;
CREATE SCHEMA
--
-- Name: SCHEMA bookings; Type: COMMENT; Schema: -; Owner: -
--
COMMENT ON SCHEMA bookings IS 'Airlines demo database schema';
COMMENT
--
-- Name: plpgsql; Type: EXTENSION; Schema: -; Owner: -
--
CREATE EXTENSION IF NOT EXISTS plpgsql WITH SCHEMA pg_catalog;
CREATE EXTENSION
--
-- Name: EXTENSION plpgsql; Type: COMMENT; Schema: -; Owner: -
--
COMMENT ON EXTENSION plpgsql IS 'PL/pgSQL procedural language';
COMMENT
SET search_path = bookings, pg_catalog;
SET
--
-- Name: lang(); Type: FUNCTION; Schema: bookings; Owner: -
--
CREATE FUNCTION lang() RETURNS text
    LANGUAGE plpgsql STABLE
    AS $$
BEGIN
  RETURN current_setting('bookings.lang');
EXCEPTION
  WHEN undefined_object THEN
    RETURN NULL;
END;
$$;
CREATE FUNCTION
--
-- Name: now(); Type: FUNCTION; Schema: bookings; Owner: -
--
CREATE FUNCTION now() RETURNS timestamp with time zone
    LANGUAGE sql IMMUTABLE
    AS $$SELECT '2017-08-15 18:00:00'::TIMESTAMP AT TIME ZONE 'Europe/Moscow';$$;
CREATE FUNCTION
--
-- Name: FUNCTION now(); Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON FUNCTION now() IS 'Point in time according to which the data are generated';
COMMENT
SET default_tablespace = '';
SET
SET default_with_oids = false;
SET
--
-- Name: aircrafts_data; Type: TABLE; Schema: bookings; Owner: -
--
CREATE TABLE aircrafts_data (
    aircraft_code character(3) NOT NULL,
    model jsonb NOT NULL,
    range integer NOT NULL,
    CONSTRAINT aircrafts_range_check CHECK ((range > 0))
);
CREATE TABLE
--
-- Name: TABLE aircrafts_data; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON TABLE aircrafts_data IS 'Aircrafts (internal data)';
COMMENT
--
-- Name: COLUMN aircrafts_data.aircraft_code; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN aircrafts_data.aircraft_code IS 'Aircraft code, IATA';
COMMENT
--
-- Name: COLUMN aircrafts_data.model; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN aircrafts_data.model IS 'Aircraft model';
COMMENT
--
-- Name: COLUMN aircrafts_data.range; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN aircrafts_data.range IS 'Maximal flying distance, km';
COMMENT
--
-- Name: aircrafts; Type: VIEW; Schema: bookings; Owner: -
--
CREATE VIEW aircrafts AS
 SELECT ml.aircraft_code,
    (ml.model ->> lang()) AS model,
    ml.range
   FROM aircrafts_data ml;
CREATE VIEW
--
-- Name: VIEW aircrafts; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON VIEW aircrafts IS 'Aircrafts';
COMMENT
--
-- Name: COLUMN aircrafts.aircraft_code; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN aircrafts.aircraft_code IS 'Aircraft code, IATA';
COMMENT
--
-- Name: COLUMN aircrafts.model; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN aircrafts.model IS 'Aircraft model';
COMMENT
--
-- Name: COLUMN aircrafts.range; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN aircrafts.range IS 'Maximal flying distance, km';
COMMENT
--
-- Name: airports_data; Type: TABLE; Schema: bookings; Owner: -
--
CREATE TABLE airports_data (
    airport_code character(3) NOT NULL,
    airport_name jsonb NOT NULL,
    city jsonb NOT NULL,
    coordinates point NOT NULL,
    timezone text NOT NULL
);
CREATE TABLE
--
-- Name: TABLE airports_data; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON TABLE airports_data IS 'Airports (internal data)';
COMMENT
--
-- Name: COLUMN airports_data.airport_code; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN airports_data.airport_code IS 'Airport code';
COMMENT
--
-- Name: COLUMN airports_data.airport_name; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN airports_data.airport_name IS 'Airport name';
COMMENT
--
-- Name: COLUMN airports_data.city; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN airports_data.city IS 'City';
COMMENT
--
-- Name: COLUMN airports_data.coordinates; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN airports_data.coordinates IS 'Airport coordinates (longitude and latitude)';
COMMENT
--
-- Name: COLUMN airports_data.timezone; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN airports_data.timezone IS 'Airport time zone';
COMMENT
--
-- Name: airports; Type: VIEW; Schema: bookings; Owner: -
--
CREATE VIEW airports AS
 SELECT ml.airport_code,
    (ml.airport_name ->> lang()) AS airport_name,
    (ml.city ->> lang()) AS city,
    ml.coordinates,
    ml.timezone
   FROM airports_data ml;
CREATE VIEW
--
-- Name: VIEW airports; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON VIEW airports IS 'Airports';
COMMENT
--
-- Name: COLUMN airports.airport_code; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN airports.airport_code IS 'Airport code';
COMMENT
--
-- Name: COLUMN airports.airport_name; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN airports.airport_name IS 'Airport name';
COMMENT
--
-- Name: COLUMN airports.city; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN airports.city IS 'City';
COMMENT
--
-- Name: COLUMN airports.coordinates; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN airports.coordinates IS 'Airport coordinates (longitude and latitude)';
COMMENT
--
-- Name: COLUMN airports.timezone; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN airports.timezone IS 'Airport time zone';
COMMENT
--
-- Name: boarding_passes; Type: TABLE; Schema: bookings; Owner: -
--
CREATE TABLE boarding_passes (
    ticket_no character(13) NOT NULL,
    flight_id integer NOT NULL,
    boarding_no integer NOT NULL,
    seat_no character varying(4) NOT NULL
);
CREATE TABLE
--
-- Name: TABLE boarding_passes; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON TABLE boarding_passes IS 'Boarding passes';
COMMENT
--
-- Name: COLUMN boarding_passes.ticket_no; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN boarding_passes.ticket_no IS 'Ticket number';
COMMENT
--
-- Name: COLUMN boarding_passes.flight_id; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN boarding_passes.flight_id IS 'Flight ID';
COMMENT
--
-- Name: COLUMN boarding_passes.boarding_no; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN boarding_passes.boarding_no IS 'Boarding pass number';
COMMENT
--
-- Name: COLUMN boarding_passes.seat_no; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN boarding_passes.seat_no IS 'Seat number';
COMMENT
--
-- Name: bookings; Type: TABLE; Schema: bookings; Owner: -
--
CREATE TABLE bookings (
    book_ref character(6) NOT NULL,
    book_date timestamp with time zone NOT NULL,
    total_amount numeric(10,2) NOT NULL
);
CREATE TABLE
--
-- Name: TABLE bookings; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON TABLE bookings IS 'Bookings';
COMMENT
--
-- Name: COLUMN bookings.book_ref; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN bookings.book_ref IS 'Booking number';
COMMENT
--
-- Name: COLUMN bookings.book_date; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN bookings.book_date IS 'Booking date';
COMMENT
--
-- Name: COLUMN bookings.total_amount; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN bookings.total_amount IS 'Total booking cost';
COMMENT
--
-- Name: flights; Type: TABLE; Schema: bookings; Owner: -
--
CREATE TABLE flights (
    flight_id integer NOT NULL,
    flight_no character(6) NOT NULL,
    scheduled_departure timestamp with time zone NOT NULL,
    scheduled_arrival timestamp with time zone NOT NULL,
    departure_airport character(3) NOT NULL,
    arrival_airport character(3) NOT NULL,
    status character varying(20) NOT NULL,
    aircraft_code character(3) NOT NULL,
    actual_departure timestamp with time zone,
    actual_arrival timestamp with time zone,
    CONSTRAINT flights_check CHECK ((scheduled_arrival > scheduled_departure)),
    CONSTRAINT flights_check1 CHECK (((actual_arrival IS NULL) OR ((actual_departure IS NOT NULL) AND (actual_arrival IS NOT NULL) AND (actual_arrival > actual_departure)))),
    CONSTRAINT flights_status_check CHECK (((status)::text = ANY (ARRAY[('On Time'::character varying)::text, ('Delayed'::character varying)::text, ('Departed'::character varying)::text, ('Arrived'::character varying)::text, ('Scheduled'::character varying)::text, ('Cancelled'::character varying)::text])))
);
CREATE TABLE
--
-- Name: TABLE flights; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON TABLE flights IS 'Flights';
COMMENT
--
-- Name: COLUMN flights.flight_id; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights.flight_id IS 'Flight ID';
COMMENT
--
-- Name: COLUMN flights.flight_no; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights.flight_no IS 'Flight number';
COMMENT
--
-- Name: COLUMN flights.scheduled_departure; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights.scheduled_departure IS 'Scheduled departure time';
COMMENT
--
-- Name: COLUMN flights.scheduled_arrival; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights.scheduled_arrival IS 'Scheduled arrival time';
COMMENT
--
-- Name: COLUMN flights.departure_airport; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights.departure_airport IS 'Airport of departure';
COMMENT
--
-- Name: COLUMN flights.arrival_airport; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights.arrival_airport IS 'Airport of arrival';
COMMENT
--
-- Name: COLUMN flights.status; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights.status IS 'Flight status';
COMMENT
--
-- Name: COLUMN flights.aircraft_code; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights.aircraft_code IS 'Aircraft code, IATA';
COMMENT
--
-- Name: COLUMN flights.actual_departure; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights.actual_departure IS 'Actual departure time';
COMMENT
--
-- Name: COLUMN flights.actual_arrival; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights.actual_arrival IS 'Actual arrival time';
COMMENT
--
-- Name: flights_flight_id_seq; Type: SEQUENCE; Schema: bookings; Owner: -
--
CREATE SEQUENCE flights_flight_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;
CREATE SEQUENCE
--
-- Name: flights_flight_id_seq; Type: SEQUENCE OWNED BY; Schema: bookings; Owner: -
--
ALTER SEQUENCE flights_flight_id_seq OWNED BY flights.flight_id;
ALTER SEQUENCE
--
-- Name: flights_v; Type: VIEW; Schema: bookings; Owner: -
--
CREATE VIEW flights_v AS
 SELECT f.flight_id,
    f.flight_no,
    f.scheduled_departure,
    timezone(dep.timezone, f.scheduled_departure) AS scheduled_departure_local,
    f.scheduled_arrival,
    timezone(arr.timezone, f.scheduled_arrival) AS scheduled_arrival_local,
    (f.scheduled_arrival - f.scheduled_departure) AS scheduled_duration,
    f.departure_airport,
    dep.airport_name AS departure_airport_name,
    dep.city AS departure_city,
    f.arrival_airport,
    arr.airport_name AS arrival_airport_name,
    arr.city AS arrival_city,
    f.status,
    f.aircraft_code,
    f.actual_departure,
    timezone(dep.timezone, f.actual_departure) AS actual_departure_local,
    f.actual_arrival,
    timezone(arr.timezone, f.actual_arrival) AS actual_arrival_local,
    (f.actual_arrival - f.actual_departure) AS actual_duration
   FROM flights f,
    airports dep,
    airports arr
  WHERE ((f.departure_airport = dep.airport_code) AND (f.arrival_airport = arr.airport_code));
CREATE VIEW
--
-- Name: VIEW flights_v; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON VIEW flights_v IS 'Flights (extended)';
COMMENT
--
-- Name: COLUMN flights_v.flight_id; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.flight_id IS 'Flight ID';
COMMENT
--
-- Name: COLUMN flights_v.flight_no; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.flight_no IS 'Flight number';
COMMENT
--
-- Name: COLUMN flights_v.scheduled_departure; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.scheduled_departure IS 'Scheduled departure time';
COMMENT
--
-- Name: COLUMN flights_v.scheduled_departure_local; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.scheduled_departure_local IS 'Scheduled departure time, local time at the point of departure';
COMMENT
--
-- Name: COLUMN flights_v.scheduled_arrival; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.scheduled_arrival IS 'Scheduled arrival time';
COMMENT
--
-- Name: COLUMN flights_v.scheduled_arrival_local; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.scheduled_arrival_local IS 'Scheduled arrival time, local time at the point of destination';
COMMENT
--
-- Name: COLUMN flights_v.scheduled_duration; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.scheduled_duration IS 'Scheduled flight duration';
COMMENT
--
-- Name: COLUMN flights_v.departure_airport; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.departure_airport IS 'Deprature airport code';
COMMENT
--
-- Name: COLUMN flights_v.departure_airport_name; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.departure_airport_name IS 'Departure airport name';
COMMENT
--
-- Name: COLUMN flights_v.departure_city; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.departure_city IS 'City of departure';
COMMENT
--
-- Name: COLUMN flights_v.arrival_airport; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.arrival_airport IS 'Arrival airport code';
COMMENT
--
-- Name: COLUMN flights_v.arrival_airport_name; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.arrival_airport_name IS 'Arrival airport name';
COMMENT
--
-- Name: COLUMN flights_v.arrival_city; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.arrival_city IS 'City of arrival';
COMMENT
--
-- Name: COLUMN flights_v.status; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.status IS 'Flight status';
COMMENT
--
-- Name: COLUMN flights_v.aircraft_code; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.aircraft_code IS 'Aircraft code, IATA';
COMMENT
--
-- Name: COLUMN flights_v.actual_departure; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.actual_departure IS 'Actual departure time';
COMMENT
--
-- Name: COLUMN flights_v.actual_departure_local; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.actual_departure_local IS 'Actual departure time, local time at the point of departure';
COMMENT
--
-- Name: COLUMN flights_v.actual_arrival; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.actual_arrival IS 'Actual arrival time';
COMMENT
--
-- Name: COLUMN flights_v.actual_arrival_local; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.actual_arrival_local IS 'Actual arrival time, local time at the point of destination';
COMMENT
--
-- Name: COLUMN flights_v.actual_duration; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN flights_v.actual_duration IS 'Actual flight duration';
COMMENT
--
-- Name: routes; Type: VIEW; Schema: bookings; Owner: -
--
CREATE VIEW routes AS
 WITH f3 AS (
         SELECT f2.flight_no,
            f2.departure_airport,
            f2.arrival_airport,
            f2.aircraft_code,
            f2.duration,
            array_agg(f2.days_of_week) AS days_of_week
           FROM ( SELECT f1.flight_no,
                    f1.departure_airport,
                    f1.arrival_airport,
                    f1.aircraft_code,
                    f1.duration,
                    f1.days_of_week
                   FROM ( SELECT flights.flight_no,
                            flights.departure_airport,
                            flights.arrival_airport,
                            flights.aircraft_code,
                            (flights.scheduled_arrival - flights.scheduled_departure) AS duration,
                            (to_char(flights.scheduled_departure, 'ID'::text))::integer AS days_of_week
                           FROM flights) f1
                  GROUP BY f1.flight_no, f1.departure_airport, f1.arrival_airport, f1.aircraft_code, f1.duration, f1.days_of_week
                  ORDER BY f1.flight_no, f1.departure_airport, f1.arrival_airport, f1.aircraft_code, f1.duration, f1.days_of_week) f2
          GROUP BY f2.flight_no, f2.departure_airport, f2.arrival_airport, f2.aircraft_code, f2.duration
        )
 SELECT f3.flight_no,
    f3.departure_airport,
    dep.airport_name AS departure_airport_name,
    dep.city AS departure_city,
    f3.arrival_airport,
    arr.airport_name AS arrival_airport_name,
    arr.city AS arrival_city,
    f3.aircraft_code,
    f3.duration,
    f3.days_of_week
   FROM f3,
    airports dep,
    airports arr
  WHERE ((f3.departure_airport = dep.airport_code) AND (f3.arrival_airport = arr.airport_code));
CREATE VIEW
--
-- Name: VIEW routes; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON VIEW routes IS 'Routes';
COMMENT
--
-- Name: COLUMN routes.flight_no; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN routes.flight_no IS 'Flight number';
COMMENT
--
-- Name: COLUMN routes.departure_airport; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN routes.departure_airport IS 'Code of airport of departure';
COMMENT
--
-- Name: COLUMN routes.departure_airport_name; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN routes.departure_airport_name IS 'Name of airport of departure';
COMMENT
--
-- Name: COLUMN routes.departure_city; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN routes.departure_city IS 'City of departure';
COMMENT
--
-- Name: COLUMN routes.arrival_airport; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN routes.arrival_airport IS 'Code of airport of arrival';
COMMENT
--
-- Name: COLUMN routes.arrival_airport_name; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN routes.arrival_airport_name IS 'Name of airport of arrival';
COMMENT
--
-- Name: COLUMN routes.arrival_city; Type: COMMENT; Schema: bookings; Owner: -
--
COMMENT ON COLUMN routes.arrival_city IS 'City of arrival';
COMMENT
--

In [18]:
%%sql postgresql:///demo
    SELECT * FROM pg_database

5 rows affected.

[(13761, 'postgres', 10, 6, 'C.UTF-8', 'C.UTF-8', False, True, -1, 13760, '726', '1', 1663, None),
 (16385, 'jovyan', 10, 6, 'C.UTF-8', 'C.UTF-8', False, True, -1, 13760, '726', '1', 1663, None),
 (1, 'template1', 10, 6, 'C.UTF-8', 'C.UTF-8', True, True, -1, 13760, '726', '1', 1663, '{=c/postgres,postgres=CTc/postgres}'),
 (13760, 'template0', 10, 6, 'C.UTF-8', 'C.UTF-8', True, False, -1, 13760, '726', '1', 1663, '{=c/postgres,postgres=CTc/postgres}'),
 (24581, 'demo', 16384, 6, 'C.UTF-8', 'C.UTF-8', False, True, -1, 13760, '726', '1', 1663, None)]

In [19]:
%sql SELECT * FROM seats LIMIT 5

 * postgresql:///demo
   postgresql:///jovyan
   postgresql://reader:***@10.129.0.25/demo
5 rows affected.

[('319', '2A', 'Business'),
 ('319', '2C', 'Business'),
 ('319', '2D', 'Business'),
 ('319', '2F', 'Business'),
 ('319', '3A', 'Business')]

In [20]:
%%sql postgresql:///demo
WITH TicketCounts AS (
    SELECT ticket_no, COUNT(flight_id) AS flight_count
    FROM ticket_flights
    GROUP BY ticket_no
)
SELECT ticket_no, flight_count
FROM TicketCounts
WHERE flight_count > 3
LIMIT 1000;

1000 rows affected.

[('0005432327890', 4),
 ('0005432327891', 4),
 ('0005432327892', 4),
 ('0005432327893', 4),
 ('0005432327894', 4),
 ('0005432327895', 4),
 ('0005432327896', 4),
 ('0005432327897', 4),
 ('0005432327898', 4),
 ('0005432327899', 4),
 ('0005432327900', 4),
 ('0005432327901', 4),
 ('0005432327902', 4),
 ('0005432327903', 4),
 ('0005432327904', 4),
 ('0005432327905', 4),
 ('0005432327906', 4),
 ('0005432327907', 4),
 ('0005432327908', 4),
 ('0005432327909', 4),
 ('0005432327910', 4),
 ('0005432327911', 4),
 ('0005432327912', 4),
 ('0005432327913', 4),
 ('0005432327914', 4),
 ('0005432327915', 4),
 ('0005432327916', 4),
 ('0005432327917', 4),
 ('0005432327918', 4),
 ('0005432327919', 4),
 ('0005432327920', 4),
 ('0005432327921', 4),
 ('0005432327922', 4),
 ('0005432327923', 4),
 ('0005432327924', 4),
 ('0005432327925', 4),
 ('0005432327926', 4),
 ('0005432327927', 4),
 ('0005432327928', 4),
 ('0005432327929', 4),
 ('0005432327930', 4),
 ('0005432327931', 4),
 ('0005432327932', 4),
 ('0005432327933', 4),
 ('0005432327934', 4),
 ('0005432327935', 4),
 ('0005432327936', 4),
 ('0005432327937', 4),
 ('0005432327938', 4),
 ('0005432327939', 4),
 ('0005432327940', 4),
 ('0005432327941', 4),
 ('0005432327942', 4),
 ('0005432327943', 4),
 ('0005432327944', 4),
 ('0005432327945', 4),
 ('0005432327946', 4),
 ('0005432327947', 4),
 ('0005432327948', 4),
 ('0005432327949', 4),
 ('0005432327950', 4),
 ('0005432327951', 4),
 ('0005432327952', 4),
 ('0005432327953', 4),
 ('0005432327954', 4),
 ('0005432327955', 4),
 ('0005432327956', 4),
 ('0005432327957', 4),
 ('0005432327958', 4),
 ('0005432327959', 4),
 ('0005432327960', 4),
 ('0005432327961', 4),
 ('0005432327962', 4),
 ('0005432327963', 4),
 ('0005432327964', 4),
 ('0005432327965', 4),
 ('0005432327966', 4),
 ('0005432327967', 4),
 ('0005432327968', 4),
 ('0005432327969', 4),
 ('0005432327970', 4),
 ('0005432327971', 4),
 ('0005432327972', 4),
 ('0005432327973', 4),
 ('0005432327974', 4),
 ('0005432327975', 4),
 ('0005432327976', 4),
 ('0005432327977', 4),
 ('0005432327978', 4),
 ('0005432327979', 4),
 ('0005432327980', 4),
 ('0005432327981', 4),
 ('0005432327982', 4),
 ('0005432327983', 4),
 ('0005432327984', 4),
 ('0005432327985', 4),
 ('0005432327986', 4),
 ('0005432327987', 4),
 ('0005432327988', 4),
 ('0005432327989', 4),
 ('0005432327990', 4),
 ('0005432327991', 4),
 ('0005432327992', 4),
 ('0005432327993', 4),
 ('0005432327994', 4),
 ('0005432327995', 4),
 ('0005432327996', 4),
 ('0005432327997', 4),
 ('0005432327998', 4),
 ('0005432327999', 4),
 ('0005432328000', 4),
 ('0005432328001', 4),
 ('0005432328002', 4),
 ('0005432328003', 4),
 ('0005432328004', 4),
 ('0005432328005', 4),
 ('0005432328006', 4),
 ('0005432328007', 4),
 ('0005432328008', 4),
 ('0005432328009', 4),
 ('0005432328010', 4),
 ('0005432328011', 4),
 ('0005432328012', 4),
 ('0005432328013', 4),
 ('0005432328014', 4),
 ('0005432328015', 4),
 ('0005432328016', 4),
 ('0005432328017', 4),
 ('0005432328018', 4),
 ('0005432328019', 4),
 ('0005432328020', 4),
 ('0005432328021', 4),
 ('0005432328022', 4),
 ('0005432328023', 4),
 ('0005432328024', 4),
 ('0005432328025', 4),
 ('0005432328026', 4),
 ('0005432328027', 4),
 ('0005432328028', 4),
 ('0005432328029', 4),
 ('0005432328030', 4),
 ('0005432328031', 4),
 ('0005432328032', 4),
 ('0005432328033', 4),
 ('0005432328034', 4),
 ('0005432328035', 4),
 ('0005432328036', 4),
 ('0005432328037', 4),
 ('0005432328038', 4),
 ('0005432328039', 4),
 ('0005432328040', 4),
 ('0005432328041', 4),
 ('0005432328042', 4),
 ('0005432328043', 4),
 ('0005432328044', 4),
 ('0005432328045', 4),
 ('0005432328046', 4),
 ('0005432328047', 4),
 ('0005432328048', 4),
 ('0005432328049', 4),
 ('0005432328050', 4),
 ('0005432328051', 4),
 ('0005432328052', 4),
 ('0005432328053', 4),
 ('0005432328054', 4),
 ('0005432328055', 4),
 ('0005432328056', 4),
 ('0005432328057', 4),
 ('0005432328058', 4),
 ('0005432328059', 4),
 ('0005432328060', 4),
 ('0005432328061', 4),
 ('0005432328062', 4),
 ('0005432328063', 4),
 ('0005432328064', 4),
 ('0005432328065', 4),
 ('0005432328066', 4),
 ('0005432328067', 4),
 ('0005432328068', 4),
 ('0005432328069', 4),
 ('0005432328070', 4),
 ('0005432328071', 4),
 ('0005432328072', 4),
 ('0005432328073', 4),
 ('0005432328074', 4),
 ('0005432328075', 4),
 ('0005432328076', 4),
 ('0005432328077', 4),
 ('0005432328078', 4),
 ('0005432328079', 4),
 ('0005432328080', 4),
 ('0005432328081', 4),
 ('0005432328082', 4),
 ('0005432328083', 4),
 ('0005432328084', 4),
 ('0005432328085', 4),
 ('0005432328086', 4),
 ('0005432328087', 4),
 ('0005432328088', 4),
 ('0005432328089', 4),
 ('0005432328090', 4),
 ('0005432328091', 4),
 ('0005432328092', 4),
 ('0005432328093', 4),
 ('0005432328094', 4),
 ('0005432328095', 4),
 ('0005432328096', 4),
 ('0005432328097', 4),
 ('0005432328098', 4),
 ('0005432328099', 4),
 ('0005432328100', 4),
 ('0005432328101', 4),
 ('0005432328102', 4),
 ('0005432328103', 4),
 ('0005432328104', 4),
 ('0005432328105', 4),
 ('0005432328106', 4),
 ('0005432328107', 4),
 ('0005432328108', 4),
 ('0005432328109', 4),
 ('0005432328110', 4),
 ('0005432328111', 4),
 ('0005432328112', 4),
 ('0005432328113', 4),
 ('0005432328114', 4),
 ('0005432328115', 4),
 ('0005432328116', 4),
 ('0005432328117', 4),
 ('0005432328118', 4),
 ('0005432328119', 4),
 ('0005432328120', 4),
 ('0005432328121', 4),
 ('0005432328122', 4),
 ('0005432328123', 4),
 ('0005432328124', 4),
 ('0005432328125', 4),
 ('0005432328126', 4),
 ('0005432328127', 4),
 ('0005432328128', 4),
 ('0005432328129', 4),
 ('0005432328130', 4),
 ('0005432328131', 4),
 ('0005432328132', 4),
 ('0005432328133', 4),
 ('0005432328134', 4),
 ('0005432328135', 4),
 ('0005432328136', 4),
 ('0005432328137', 4),
 ('0005432328138', 4),
 ('0005432328139', 4),
 ('0005432328140', 4),
 ('0005432328141', 4),
 ('0005432328142', 4),
 ('0005432328143', 4),
 ('0005432328144', 4),
 ('0005432328145', 4),
 ('0005432328146', 4),
 ('0005432328147', 4),
 ('0005432328148', 4),
 ('0005432328149', 4),
 ('0005432328150', 4),
 ('0005432328151', 4),
 ('0005432328152', 4),
 ('0005432328153', 4),
 ('0005432328154', 4),
 ('0005432328155', 4),
 ('0005432328156', 4),
 ('0005432328157', 4),
 ('0005432328158', 4),
 ('0005432328159', 4),
 ('0005432328160', 4),
 ('0005432328161', 4),
 ('0005432328162', 4),
 ('0005432328163', 4),
 ('0005432328164', 4),
 ('0005432328165', 4),
 ('0005432328166', 4),
 ('0005432328167', 4),
 ('0005432328168', 4),
 ('0005432328169', 4),
 ('0005432328170', 4),
 ('0005432328171', 4),
 ('0005432328172', 4),
 ('0005432328173', 4),
 ('0005432328174', 4),
 ('0005432328175', 4),
 ('0005432328176', 4),
 ('0005432328177', 4),
 ('0005432328178', 4),
 ('0005432328179', 4),
 ('0005432328180', 4),
 ('0005432328181', 4),
 ('0005432328182', 4),
 ('0005432328183', 4),
 ('0005432328184', 4),
 ('0005432328185', 4),
 ('0005432328186', 4),
 ('0005432328187', 4),
 ('0005432328188', 4),
 ('0005432328189', 4),
 ('0005432328190', 4),
 ('0005432328191', 4),
 ('0005432328192', 4),
 ('0005432328193', 4),
 ('0005432328194', 4),
 ('0005432328195', 4),
 ('0005432328196', 4),
 ('0005432328197', 4),
 ('0005432328198', 4),
 ('0005432328199', 4),
 ('0005432328200', 4),
 ('0005432328201', 4),
 ('0005432328202', 4),
 ('0005432328203', 4),
 ('0005432328204', 4),
 ('0005432328205', 4),
 ('0005432328206', 4),
 ('0005432328207', 4),
 ('0005432328208', 4),
 ('0005432328209', 4),
 ('0005432328210', 4),
 ('0005432328211', 4),
 ('0005432328212', 4),
 ('0005432328213', 4),
 ('0005432328214', 4),
 ('0005432328215', 4),
 ('0005432328216', 4),
 ('0005432328217', 4),
 ('0005432328218', 4),
 ('0005432328219', 4),
 ('0005432328220', 4),
 ('0005432328221', 4),
 ('0005432328222', 4),
 ('0005432328223', 4),
 ('0005432328224', 4),
 ('0005432328225', 4),
 ('0005432328226', 4),
 ('0005432328227', 4),
 ('0005432328228', 4),
 ('0005432328229', 4),
 ('0005432328230', 4),
 ('0005432328231', 4),
 ('0005432328232', 4),
 ('0005432328233', 4),
 ('0005432328234', 4),
 ('0005432328235', 4),
 ('0005432328236', 4),
 ('0005432328237', 4),
 ('0005432328238', 4),
 ('0005432328239', 4),
 ('0005432328240', 4),
 ('0005432328241', 4),
 ('0005432328242', 4),
 ('0005432328243', 4),
 ('0005432328244', 4),
 ('0005432328245', 4),
 ('0005432328246', 4),
 ('0005432328247', 4),
 ('0005432328248', 4),
 ('0005432328249', 4),
 ('0005432328250', 4),
 ('0005432328251', 4),
 ('0005432328252', 4),
 ('0005432328253', 4),
 ('0005432328254', 4),
 ('0005432328255', 4),
 ('0005432328256', 4),
 ('0005432328257', 4),
 ('0005432328258', 4),
 ('0005432328259', 4),
 ('0005432328260', 4),
 ('0005432328261', 4),
 ('0005432328262', 4),
 ('0005432328263', 4),
 ('0005432328264', 4),
 ('0005432328265', 4),
 ('0005432328266', 4),
 ('0005432328267', 4),
 ('0005432328268', 4),
 ('0005432328269', 4),
 ('0005432328270', 4),
 ('0005432328271', 4),
 ('0005432328272', 4),
 ('0005432328273', 4),
 ('0005432328274', 4),
 ('0005432328275', 4),
 ('0005432328276', 4),
 ('0005432328277', 4),
 ('0005432328278', 4),
 ('0005432328279', 4),
 ('0005432328280', 4),
 ('0005432328281', 4),
 ('0005432328282', 4),
 ('0005432328283', 4),
 ('0005432328284', 4),
 ('0005432328285', 4),
 ('0005432328286', 4),
 ('0005432328287', 4),
 ('0005432328288', 4),
 ('0005432328289', 4),
 ('0005432328290', 4),
 ('0005432328291', 4),
 ('0005432328292', 4),
 ('0005432328293', 4),
 ('0005432328294', 4),
 ('0005432328295', 4),
 ('0005432328296', 4),
 ('0005432328297', 4),
 ('0005432328298', 4),
 ('0005432328299', 4),
 ('0005432328300', 4),
 ('0005432328301', 4),
 ('0005432328302', 4),
 ('0005432328303', 4),
 ('0005432328304', 4),
 ('0005432328305', 4),
 ('0005432328306', 4),
 ('0005432328307', 4),
 ('0005432328308', 4),
 ('0005432328309', 4),
 ('0005432328310', 4),
 ('0005432328311', 4),
 ('0005432328312', 4),
 ('0005432328313', 4),
 ('0005432328314', 4),
 ('0005432328315', 4),
 ('0005432328316', 4),
 ('0005432328317', 4),
 ('0005432328318', 4),
 ('0005432328319', 4),
 ('0005432328320', 4),
 ('0005432328321', 4),
 ('0005432328322', 4),
 ('0005432328323', 4),
 ('0005432328324', 4),
 ('0005432328325', 4),
 ('0005432328326', 4),
 ('0005432328327', 4),
 ('0005432328328', 4),
 ('0005432328329', 4),
 ('0005432328330', 4),
 ('0005432328331', 4),
 ('0005432328332', 4),
 ('0005432328333', 4),
 ('0005432328334', 4),
 ('0005432328335', 4),
 ('0005432328336', 4),
 ('0005432328337', 4),
 ('0005432328338', 4),
 ('0005432328339', 4),
 ('0005432328340', 4),
 ('0005432328341', 4),
 ('0005432328342', 4),
 ('0005432328343', 4),
 ('0005432328344', 4),
 ('0005432328345', 4),
 ('0005432328346', 4),
 ('0005432328347', 4),
 ('0005432328348', 4),
 ('0005432328349', 4),
 ('0005432328350', 4),
 ('0005432328351', 4),
 ('0005432328352', 4),
 ('0005432328353', 4),
 ('0005432328354', 4),
 ('0005432328355', 4),
 ('0005432328356', 4),
 ('0005432328357', 4),
 ('0005432328358', 4),
 ('0005432328359', 4),
 ('0005432328360', 4),
 ('0005432328361', 4),
 ('0005432328362', 4),
 ('0005432328363', 4),
 ('0005432328364', 4),
 ('0005432328365', 4),
 ('0005432328366', 4),
 ('0005432328367', 4),
 ('0005432328368', 4),
 ('0005432328369', 4),
 ('0005432328370', 4),
 ('0005432328371', 4),
 ('0005432328372', 4),
 ('0005432328373', 4),
 ('0005432328374', 4),
 ('0005432328375', 4),
 ('0005432328376', 4),
 ('0005432328377', 4),
 ('0005432328378', 4),
 ('0005432328379', 4),
 ('0005432328380', 4),
 ('0005432328381', 4),
 ('0005432328382', 4),
 ('0005432328383', 4),
 ('0005432328384', 4),
 ('0005432328385', 4),
 ('0005432328386', 4),
 ('0005432328387', 4),
 ('0005432328388', 4),
 ('0005432328389', 4),
 ('0005432328390', 4),
 ('0005432328391', 4),
 ('0005432328392', 4),
 ('0005432328393', 4),
 ('0005432328394', 4),
 ('0005432328395', 4),
 ('0005432328396', 4),
 ('0005432328397', 4),
 ('0005432328398', 4),
 ('0005432328399', 4),
 ('0005432328400', 4),
 ('0005432328401', 4),
 ('0005432328402', 4),
 ('0005432328403', 4),
 ('0005432328404', 4),
 ('0005432328405', 4),
 ('0005432328406', 4),
 ('0005432328407', 4),
 ('0005432328408', 4),
 ('0005432328409', 4),
 ('0005432328410', 4),
 ('0005432328411', 4),
 ('0005432328412', 4),
 ('0005432328413', 4),
 ('0005432328414', 4),
 ('0005432328415', 4),
 ('0005432328416', 4),
 ('0005432328417', 4),
 ('0005432328418', 4),
 ('0005432328419', 4),
 ('0005432328420', 4),
 ('0005432328421', 4),
 ('0005432328422', 4),
 ('0005432328423', 4),
 ('0005432328424', 4),
 ('0005432328425', 4),
 ('0005432328426', 4),
 ('0005432328427', 4),
 ('0005432328428', 4),
 ('0005432328429', 4),
 ('0005432328430', 4),
 ('0005432328431', 4),
 ('0005432328432', 4),
 ('0005432328433', 4),
 ('0005432328434', 4),
 ('0005432328435', 4),
 ('0005432328436', 4),
 ('0005432328437', 4),
 ('0005432328438', 4),
 ('0005432328439', 4),
 ('0005432328440', 4),
 ('0005432328441', 4),
 ('0005432328442', 4),
 ('0005432328443', 4),
 ('0005432328444', 4),
 ('0005432328445', 4),
 ('0005432328446', 4),
 ('0005432328447', 4),
 ('0005432328448', 4),
 ('0005432328449', 4),
 ('0005432328450', 4),
 ('0005432328451', 4),
 ('0005432328452', 4),
 ('0005432328453', 4),
 ('0005432328454', 4),
 ('0005432328455', 4),
 ('0005432328456', 4),
 ('0005432328457', 4),
 ('0005432328458', 4),
 ('0005432328459', 4),
 ('0005432328460', 4),
 ('0005432328461', 4),
 ('0005432328462', 4),
 ('0005432328463', 4),
 ('0005432328464', 4),
 ('0005432328465', 4),
 ('0005432328466', 4),
 ('0005432328467', 4),
 ('0005432328468', 4),
 ('0005432328469', 4),
 ('0005432328470', 4),
 ('0005432328471', 4),
 ('0005432328472', 4),
 ('0005432328473', 4),
 ('0005432328474', 4),
 ('0005432328475', 4),
 ('0005432328476', 4),
 ('0005432328477', 4),
 ('0005432328478', 4),
 ('0005432328479', 4),
 ('0005432328480', 4),
 ('0005432328481', 4),
 ('0005432328482', 4),
 ('0005432328483', 4),
 ('0005432328484', 4),
 ('0005432328485', 4),
 ('0005432328486', 4),
 ('0005432328487', 4),
 ('0005432328488', 4),
 ('0005432328489', 4),
 ('0005432328490', 4),
 ('0005432328491', 4),
 ('0005432328492', 4),
 ('0005432328493', 4),
 ('0005432328494', 4),
 ('0005432328495', 4),
 ('0005432328496', 4),
 ('0005432328497', 4),
 ('0005432328498', 4),
 ('0005432328499', 4),
 ('0005432328500', 4),
 ('0005432328501', 4),
 ('0005432328502', 4),
 ('0005432328503', 4),
 ('0005432328504', 4),
 ('0005432328505', 4),
 ('0005432328506', 4),
 ('0005432328507', 4),
 ('0005432328508', 4),
 ('0005432328509', 4),
 ('0005432328510', 4),
 ('0005432328511', 4),
 ('0005432328512', 4),
 ('0005432328513', 4),
 ('0005432328514', 4),
 ('0005432328515', 4),
 ('0005432328516', 4),
 ('0005432328517', 4),
 ('0005432328518', 4),
 ('0005432328519', 4),
 ('0005432328520', 4),
 ('0005432328521', 4),
 ('0005432328522', 4),
 ('0005432328523', 4),
 ('0005432328524', 4),
 ('0005432328525', 4),
 ('0005432328526', 4),
 ('0005432328527', 4),
 ('0005432328528', 4),
 ('0005432328529', 4),
 ('0005432328530', 4),
 ('0005432328531', 4),
 ('0005432328532', 4),
 ('0005432328533', 4),
 ('0005432328534', 4),
 ('0005432328535', 4),
 ('0005432328536', 4),
 ('0005432328537', 4),
 ('0005432328538', 4),
 ('0005432328539', 4),
 ('0005432328540', 4),
 ('0005432328541', 4),
 ('0005432328542', 4),
 ('0005432328543', 4),
 ('0005432328544', 4),
 ('0005432328545', 4),
 ('0005432328546', 4),
 ('0005432328547', 4),
 ('0005432328548', 4),
 ('0005432328549', 4),
 ('0005432328550', 4),
 ('0005432328551', 4),
 ('0005432328552', 4),
 ('0005432328553', 4),
 ('0005432328554', 4),
 ('0005432328555', 4),
 ('0005432328556', 4),
 ('0005432328557', 4),
 ('0005432328558', 4),
 ('0005432328559', 4),
 ('0005432328560', 4),
 ('0005432328561', 4),
 ('0005432328562', 4),
 ('0005432328563', 4),
 ('0005432328564', 4),
 ('0005432328565', 4),
 ('0005432328566', 4),
 ('0005432328567', 4),
 ('0005432328568', 4),
 ('0005432328569', 4),
 ('0005432328570', 4),
 ('0005432328571', 4),
 ('0005432328572', 4),
 ('0005432328573', 4),
 ('0005432328574', 4),
 ('0005432328575', 4),
 ('0005432328576', 4),
 ('0005432328577', 4),
 ('0005432328578', 4),
 ('0005432328579', 4),
 ('0005432328580', 4),
 ('0005432328581', 4),
 ('0005432328582', 4),
 ('0005432328583', 4),
 ('0005432328584', 4),
 ('0005432328585', 4),
 ('0005432328586', 4),
 ('0005432328587', 4),
 ('0005432328588', 4),
 ('0005432328589', 4),
 ('0005432328590', 4),
 ('0005432328591', 4),
 ('0005432328592', 4),
 ('0005432328593', 4),
 ('0005432328594', 4),
 ('0005432328595', 4),
 ('0005432328596', 4),
 ('0005432328597', 4),
 ('0005432328598', 4),
 ('0005432328599', 4),
 ('0005432328600', 4),
 ('0005432328601', 4),
 ('0005432328602', 4),
 ('0005432328603', 4),
 ('0005432328604', 4),
 ('0005432328605', 4),
 ('0005432328606', 4),
 ('0005432328607', 4),
 ('0005432328608', 4),
 ('0005432328609', 4),
 ('0005432328610', 4),
 ('0005432328611', 4),
 ('0005432328612', 4),
 ('0005432328613', 4),
 ('0005432328614', 4),
 ('0005432328615', 4),
 ('0005432328616', 4),
 ('0005432328617', 4),
 ('0005432328618', 4),
 ('0005432328619', 4),
 ('0005432328620', 4),
 ('0005432328621', 4),
 ('0005432328622', 4),
 ('0005432328623', 4),
 ('0005432328624', 4),
 ('0005432328625', 4),
 ('0005432328626', 4),
 ('0005432328627', 4),
 ('0005432328628', 4),
 ('0005432328629', 4),
 ('0005432328630', 4),
 ('0005432328631', 4),
 ('0005432328632', 4),
 ('0005432328633', 4),
 ('0005432328634', 4),
 ('0005432328635', 4),
 ('0005432328636', 4),
 ('0005432328637', 4),
 ('0005432328638', 4),
 ('0005432328639', 4),
 ('0005432328640', 4),
 ('0005432328641', 4),
 ('0005432328642', 4),
 ('0005432328643', 4),
 ('0005432328644', 4),
 ('0005432328645', 4),
 ('0005432328646', 4),
 ('0005432328647', 4),
 ('0005432328648', 4),
 ('0005432328649', 4),
 ('0005432328650', 4),
 ('0005432328651', 4),
 ('0005432328652', 4),
 ('0005432328653', 4),
 ('0005432328654', 4),
 ('0005432328655', 4),
 ('0005432328656', 4),
 ('0005432328657', 4),
 ('0005432328658', 4),
 ('0005432328659', 4),
 ('0005432328660', 4),
 ('0005432328661', 4),
 ('0005432328662', 4),
 ('0005432328663', 4),
 ('0005432328664', 4),
 ('0005432328665', 4),
 ('0005432328666', 4),
 ('0005432328667', 4),
 ('0005432328668', 4),
 ('0005432328669', 4),
 ('0005432328670', 4),
 ('0005432328671', 4),
 ('0005432328672', 4),
 ('0005432328673', 4),
 ('0005432328674', 4),
 ('0005432328675', 4),
 ('0005432328676', 4),
 ('0005432328677', 4),
 ('0005432328678', 4),
 ('0005432328679', 4),
 ('0005432328680', 4),
 ('0005432328681', 4),
 ('0005432328682', 4),
 ('0005432328683', 4),
 ('0005432328684', 4),
 ('0005432328685', 4),
 ('0005432328686', 4),
 ('0005432328687', 4),
 ('0005432328688', 4),
 ('0005432328689', 4),
 ('0005432328690', 4),
 ('0005432328691', 4),
 ('0005432328692', 4),
 ('0005432328693', 4),
 ('0005432328694', 4),
 ('0005432328695', 4),
 ('0005432328696', 4),
 ('0005432328697', 4),
 ('0005432328698', 4),
 ('0005432328699', 4),
 ('0005432328700', 4),
 ('0005432328701', 4),
 ('0005432328702', 4),
 ('0005432328703', 4),
 ('0005432328704', 4),
 ('0005432328705', 4),
 ('0005432328706', 4),
 ('0005432328707', 4),
 ('0005432328708', 4),
 ('0005432328709', 4),
 ('0005432328710', 4),
 ('0005432328711', 4),
 ('0005432328712', 4),
 ('0005432328713', 4),
 ('0005432328714', 4),
 ('0005432328715', 4),
 ('0005432328716', 4),
 ('0005432328717', 4),
 ('0005432328718', 4),
 ('0005432328719', 4),
 ('0005432328720', 4),
 ('0005432328721', 4),
 ('0005432328722', 4),
 ('0005432328723', 4),
 ('0005432328724', 4),
 ('0005432328725', 4),
 ('0005432328726', 4),
 ('0005432328727', 4),
 ('0005432328728', 4),
 ('0005432328729', 4),
 ('0005432328730', 4),
 ('0005432328731', 4),
 ('0005432328732', 4),
 ('0005432328733', 4),
 ('0005432328734', 4),
 ('0005432328735', 4),
 ('0005432328736', 4),
 ('0005432328737', 4),
 ('0005432328738', 4),
 ('0005432328739', 4),
 ('0005432328740', 4),
 ('0005432328741', 4),
 ('0005432328742', 4),
 ('0005432328743', 4),
 ('0005432328744', 4),
 ('0005432328745', 4),
 ('0005432328746', 4),
 ('0005432328747', 4),
 ('0005432328748', 4),
 ('0005432328749', 4),
 ('0005432328750', 4),
 ('0005432328751', 4),
 ('0005432328752', 4),
 ('0005432328753', 4),
 ('0005432328754', 4),
 ('0005432328755', 4),
 ('0005432328756', 4),
 ('0005432328757', 4),
 ('0005432328758', 4),

In [21]:
%%sql postgresql:///demo
SELECT COUNT(*) AS ticket_count
FROM (
    SELECT ticket_no, COUNT(flight_id) AS flight_count
    FROM ticket_flights
    GROUP BY ticket_no
) AS TicketCounts
WHERE flight_count = 5;

1 rows affected.

[(54,)]

In [22]:
%%sql postgresql:///demo
CREATE TABLE Employees (
    EMPLOYEE_ID INT PRIMARY KEY,
    FIRST_NAME VARCHAR(50),
    LAST_NAME VARCHAR(50),
    HIRE_DATE DATE,
    JOB_ID VARCHAR(20),
    MANAGER_ID INT,
    DEPARTMENT_ID INT
);

-- Create Departments table
CREATE TABLE Departments (
    DEPARTMENT_ID INT PRIMARY KEY,
    DEPARTMENT_NAME VARCHAR(50),
    MANAGER_ID INT
);

INSERT INTO Employees (EMPLOYEE_ID, FIRST_NAME, LAST_NAME, HIRE_DATE, JOB_ID, MANAGER_ID, DEPARTMENT_ID)
VALUES
(100, 'Steven', 'King', '1987-06-17', 'AD_PRES', 0, 90),
(101, 'Neena', 'Kochhar', '1987-06-18', 'AD_VP', 100, 90),
(102, 'Lex', 'DeHaan', '1987-06-19', 'AD_VP', 100, 90),
(103, 'Alexander', 'Hunold', '1987-06-20', 'IT_PROG', 102, 60),
(107, 'Diana', 'Lorentz', '1987-06-24', 'IT_PROG', 103, 60),
(108, 'Nancy', 'Greenberg', '1987-06-25', 'FI_MGR', 101, 100),
(109, 'Daniel', 'Faviet', '1987-06-26', 'FI_ACCOUNT', 108, 100),
(114, 'Den', 'Raphaely', '1987-07-01', 'PU_MAN', 100, 30),
(118, 'Guy', 'Himuro', '1987-07-05', 'PU_CLERK', 114, 30),
(144, 'Peter', 'Vargas', '1987-07-31', 'ST_CLERK', 114, 50),
(145, 'John', 'Russell', '1987-08-01', 'SA_MAN', 100, 80),
(146, 'Karen', 'Partners', '1987-08-02', 'SA_MAN', 100, 80);

-- Populate Departments table
INSERT INTO Departments (DEPARTMENT_ID, DEPARTMENT_NAME, MANAGER_ID)
VALUES
(10, 'Administration', 200),
(30, 'Purchasing', 114),
(40, 'HumanResources', 203),
(50, 'Shipping', 121),
(60, 'IT', 103),
(70, 'PublicRelations', 204),
(80, 'Sales', 145),
(90, 'Executive', 100),
(100, 'Finance', 108),
(110, 'Accounting', 205);

Done.
Done.
12 rows affected.
10 rows affected.

[]

In [23]:
%%sql postgresql:///demo
SELECT d.DEPARTMENT_NAME, e.FIRST_NAME || ' ' || e.LAST_NAME AS Employee_Name
FROM Employees e
JOIN Departments d ON e.DEPARTMENT_ID = d.DEPARTMENT_ID
WHERE e.HIRE_DATE = (SELECT MIN(HIRE_DATE) FROM Employees);

1 rows affected.

[('Executive', 'Steven King')]